<nav class="nav-bar">
  <div class="nav-item">
    <a class="nav-link" href="/">Home</a>
    <% if (locals.currentUser) { %>
      <% if (currentUser.role === "manager") { %>
        <a href="/users" class="nav-link">Users List</a>
      <% } %>
      <% if (currentUser.role === "coach") { %>
        <a href="/slots" class="nav-link">Slots Gestion</a>
      <% } %>
      <% if (currentUser.role === "customer") { %>
        <a href="/slots" class="nav-link">Agenda</a>
      <% } %>
    <% } %>
  </div>
  <% if (locals.currentUser) { %>
    <div class="nav-item">
      <% if (currentUser.role !== "manager") { %>
        <a class="nav-link" href="/account">Account</a>
      <% } %> 
      <form class="log-form" action="/logout" method="post">
        <button class="logout" type="submit" style="cursor:pointer">Logout</button>
      </form>
    </div>
  <% } else { %>
  <div class="nav-item">
    <a class="nav-link" href="/register">Register</a>
    <a class="nav-link" href="/login">Login</a>
  </div>
  <% } %>
</nav>