<!DOCTYPE html>
<html lang="en">
<%- include("_head", {documentTitle: "login" }); %>
<body>

<% if (locals.errorMessage) { %>
  <div class="error"> <%= errorMessage %> </div>
<% } %>

<h1>Login</h1>

<form action="/userLogin" method="post">
  <fieldset>
    <legend>Login information</legend>
    <div>
      <label for="login">Login Name</label>
      <input type="text" id="login" name="login" required>
    </div>
    <div>
      <label for="password">Password</label>
      <input type="text" id="password" name="password" required>
    </div>
  </fieldset>
  <button class="btn" type="submit">Login</button>
  <div class="opposite">
    Not register yet?<br>
    <a class="btn" href="/register">Register</a>
  </div>
</form>

</body>

</html>