<!DOCTYPE html>
<html lang="en">
<%- include("_head", {documentTitle: "login" }); %>
<body>
<%- include("_nav"); %>

<h1>Login</h1>

<form class="util-form" action="/login" method="post">
  <fieldset>
    <legend>Login information</legend>
    <% if (messages.error) { %>
      <div class="error"> <%= messages.error %> </div>
    <% } %>
    <div>
      <label for="login">Login Name</label>
      <input type="text" id="login" name="login">
    </div>
    <div>
      <label for="password">Password</label>
      <input type="text" id="password" name="password">
    </div>
  </fieldset>
  <button class="btn" type="submit">Login</button>
  <div class="opposite">
    Not register yet?<br>
    <a class="btn" href="/register">Register</a>
  </div>
</form>

</body>

</html>