<h1>Login</h1>

<form action="/userLogin" method="post">
  <fieldset>
    <legend>Login information</legend>
    <div>
      <label for="login">Login Name</label>
      <input type="text" id="login" name="login" required>
    </div>
    <div>
      <label for="password">Password</label>
      <input type="text" id="password" name="password" required>
    </div>
  </fieldset>
  <button type="submit">Login</button>
</form>

<div>
  Not register yet?<br>
  <a href="/register">Register</a>
</div>